# Ignore node_modules directories
**/node_modules

# Ignore Python virtual environments
**/__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*/venv/
*/.venv/
*/env/
*env/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs and local databases
*.log
chroma_db/
rag_pipeline/gemini_inputs_log/

# Ignore asset directories
OncehumanPDFs/

# Ignore Git directory
.git
.gitignore

# Ignore local environment files
.env