# Ignore node_modules directories
**/node_modules

# Ignore Python virtual environments
**/__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*/venv/
*/.venv/
*/env/
*env/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs and local databases
*.log
/rag_pipeline/chroma_db/

# Ignore asset directories
OncehumanPDFs/

# Ignore Git directory
.git
.gitignore

# Ignore local environment files
.env
rag_pipeline/chroma_db.zip
rag_pipeline/backupppp/
rag_pipeline/rag_pipeline/backups/
fly.toml