# Dependencies
/node_modules
/once-human-bot/node_modules

# Environment variables
.env
once-human-bot/.env
rag_pipeline/.env

# Python cache
 # Exclude python bytecode directories
__pycache__/
 *.pyc
 *.pyo
 *.pyd

# VSCode
.vscode/

#ChromaDB
# If the chroma_db directory is already tracked by git, run the following command
# to remove it from the index: git rm -r --cached rag_pipeline/chroma_db/
/rag_pipeline/chroma_db/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Other
.DS_Store
Thumbs.db
chroma_db_backup.zip

rag_pipeline/chroma_db.zip
rag_pipeline/backupppp/
rag_pipeline/rag_pipeline/backups/
once-human-bot/config/channelConfig.json
